/* Copyright 2017-2019 @polkadot/apps authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.apps--Content {
  background: white;
  height: 100%;
  width: 100%;
}

.apps--Content-Frame {
  border: none;
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}
