/* Copyright 2017-2018 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.ui--Param-Address {
  font-family: monospace;
}

.ui--Params-Content {
  box-sizing: border-box;
  padding-left: 2em;
}

.ui--Param-text {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.714rem;
}

.ui--Param-text .icon {
  margin-right: 0.5rem !important;
}

.ui--Param-text * {
  vertical-align: middle;
}

.ui--Param-text.nowrap {
  white-space: nowrap;
}

.ui--Param-text.name {
  color: rgba(0, 0, 0, .6);
  font-style: italic;
}

.ui--Param-text + .ui--Param-text {
  margin-left: 0.5rem;
}
