/* Copyright 2017-2019 @polkadot/app-explorer authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.explorer--App .rx--updated {
  background: transparent !important;
}

.explorer--BestHash,
.explorer--BestNumber {
  font-weight: 100;
  text-align: right;
  opacity: 0.5;
}

.explorer--BestHash.rx--updated,
.explorer--BestNumber.rx--updated {
  opacity: 1;
}

.explorer--BestHash {
  font-size: 1.5em;
  line-height: 1.2;
}

.explorer--BestNumber {
  font-size: 2.25rem;
  line-height: 2.25rem;
  position: relative;
  text-align: right;
}

.explorer--BlockByHash-flexable {
  display: flex;
  flex-wrap: wrap;
}

.explorer--BlockByHash-block {
  flex: 0 0 50%;
  min-width: 0;
  max-width: 50%;
}

.explorer--Container {
  color: inherit;

  &:hover > .details {
    height: auto;
    opacity: 1;
    transform: scale(1);
    transition: all 200ms ease-in;
  }

  .header {
    position: relative;

    .description {
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  > .details {
    height: 0;
    opacity: 0;
    transition: none;
    transform: scale(0);
    word-break: break-all;
  }
}

.explorer--BlockByHash-accountIndex {
  font-size: .75rem;
  margin-top: -0.5rem;
  opacity: 0.45;
  text-align: right;
}

.explorer--BlockByHash-justification-signature span {
  color: rgba(0, 0, 0, 0.6);
  font-family: monospace;
  font-style: italic;
  padding-left: 0.5rem;
}

.explorer--BlockByHash-header-right {
  position: absolute;
  top: -0.5rem;
  right: 0rem;
}

.explorer--Overview {
  display: flex;

  .column {
    flex: 0 0 50%;
    min-width: 0;
    max-width: 50%;
    padding: 0 1em 1em;
  }
}

.storage--Query-actionrow {
  display: flex;
}

.storage--Query-actionrow-hash {
  flex: 1;
  min-width: 0;
}

.storage--Query-actionrow-button {
  flex: 0;
  padding: 0 0.25rem;
}
