/* Copyright 2017-2018 Jaco Greeff
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.explorer--App {
  padding: 1em 2em;
}

.explorer--App .rx--updated {
  background: transparent !important;
}

.explorer--BestHash,
.explorer--BestNumber {
  font-weight: 100;
  text-align: right;
  opacity: 0.5;
}

.explorer--BestHash.rx--updated,
.explorer--BestNumber.rx--updated {
  opacity: 1;
}

.explorer--BestHash {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0.75em;
}

.explorer--BestNumber {
  font-size: 3rem;
  line-height: 3rem;
}

.explorer--BlockHeaders {}
