/* Copyright 2017-2019 @polkadot/app-explorer authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.explorer--Container {
  color: inherit;

  .header {
    position: relative;
    vertical-align: middle;

    h3 {
      margin: 0;
    }
  }

  .description {
    color: rgba(0, 0, 0, 0.6);
    margin: 0rem 0 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }

  > .details {
    word-break: break-all;
  }
}
