.validator-icon {
  color: #2284d0;
  position: absolute;
  font-size: 1.5em !important;
}

.nominator-icon {
  color: #aaa;
  position: absolute;
  font-size: 1.5em !important;
}

.ui--AddressRow-icon {
  margin: 12px;
}
