/* Copyright 2017-2019 @polkadot/app-js authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.js--App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem 0 0;
}

.js--Dropdown {
  margin-right: 100px;
  position: relative;
  z-index: 200;

  .dropdown .menu > .item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.js--Content {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 0;
}

.js--Editor,
.js--Output {
  min-width: 200px;

  .action-button {
    position: absolute;
    right: 0.25rem;
    top: 0.5rem;
    z-index: 100;
  }
}

.js--Editor {
  flex-grow: 1;
  overflow: auto;
  padding: 0;
  position: relative;
  resize: horizontal;
  width: 60%;

  textarea {
    outline: 0;
  }

  .codeflask {
    background: transparent;
  }

  .codeflask--has-line-numbers {
    z-index: 0;
  }

  .codeflask--has-line-numbers .codeflask__flatten {
    font-size: 12px;
    line-height: 18px;
    min-width: calc(100% - 40px);
    width: auto;
  }

  .codeflask__lines {
    background: #fafafa;
    line-height: 18px;
    z-index: 100;
  }

  &::after {
    bottom: 0;
    content: '↔';
    cursor: col-resize;
    font-size: 20px;
    height: 20px;
    line-height: 18px;
    position: absolute;
    right: 0;
    width: 22px;
    z-index: 1;
  }
}

.js--Output {
  background-color: #4e4e4e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: monospace;
  font-size: 12px;
  font-variant-ligatures: common-ligatures;
  line-height: 18px;
  padding: 10px;
  position: relative;
  width: 40%;

  .logs-wrapper {
    display: flex;
    flex: 1;
    min-height: 0px;
  }

  .logs-container {
    flex: 1;
    overflow: auto;;
  }

  .logs-content {
    height: auto;
  }

  .js--Log {
    animation: fadein 0.2s;
    margin: 0 0 5px 0;
    word-break: break-all;

    &.error {
      color: #f88;
    }
  }
}

.ui.popup.popup-local {
  display: flex;
  flex: 1 1 100%;
  max-width: 300px;

  .button {
    margin: 0;
  }
}
