/* Copyright 2017-2019 @polkadot/apps authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.apps--Connecting {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
}

.apps--Connecting-text {
  background: red;
  color: white;
  line-height: 1.5em;
  padding: 1em 2em;
}
