/* Copyright 2017-2018 Jaco Greeff
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  padding: 0;
}

#root {
  color: #333;
  font-family: sans-serif;
  height: 100%;
}
