build/
coverage/
node_modules/
tmp/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
cc-test-reporter
package-lock.json
npm-debug.log*
tsconfig.*buildinfo
yarn-debug.log*
yarn-error.log*
.idea/
env-config.js
NOTES.md
