/* Copyright 2017-2019 @polkadot/react-components authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.ui--Params {
  border-left: 0.25rem solid #f2f2f2;

  .ui--Param .ui--Labelled label {
    text-transform: none !important;
    font-family: monospace;
  }

  .ui--row {
    flex-wrap: wrap;
  }
}

.ui--Param-Address {
  font-family: monospace;
}

.ui--Params-Content {
  box-sizing: border-box;
  padding: 0 0 0 1.75rem;
}

.ui--Param-text {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.714rem;
}

.ui--Param-text .icon {
  margin-right: 0.5rem !important;
}

.ui--Param-text * {
  vertical-align: middle;
}

.ui--Param-text.nowrap {
  white-space: nowrap;
}

.ui--Param-text.name {
  color: rgba(0, 0, 0, .6);
  font-style: italic;
}

.ui--Param-text + .ui--Param-text {
  margin-left: 0.5rem;
}

.ui--Param-Vector-buttons {
  text-align: right;
}
