/* Copyright 2017-2018 Jaco Greeff
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.testing--full,
.testing--split {
  width: 100%;
}

.testing--split {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;
}

.testing--split > div {
  box-sizing: border-box;
  padding-right: 0.5rem;
}

.testing--split > div.full {
  flex: 0 100%;
  min-width: 0;
}

.testing--split > div.large {
  flex: 0 75%;
  min-width: 0;
}

.testing--split > div.medium {
  flex: 0 50%;
  min-width: 0;
}

.testing--split > div.small {
  flex: 0 25%;
  min-width: 0;
}

.hasUpdated {
  background: #ffffe0 !important;
  transition: all 0.7s ease-in-out;
}
