/* Copyright 2017-2018 @polkadot/ui-react authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.ui--Container {
  padding: 0.5em;
}

.ui--DemoContainer {
  padding: 0.5em 0.5em 1.5em 5em;
}

.ui--DemoHeader {
  background: #f5f5f5;
  font-size: 0.75em;
  margin: 0 0 1em -6em;
  padding: 0.5em;
}
