/* Copyright 2017-2018 @polkadot/apps authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.apps--SideBar-Item {
  padding: 0 !important;
}

.apps--SideBar-Item-NavLink {
  display: block;
  padding: 0.75em 0.75em;
  white-space: nowrap;
}

.apps--SideBar-Item-NavLink-active {
  background: white;
  border-radius: 0.28571429rem 0 0 0.28571429rem;
  color: inherit;
}
