/* Copyright 2017-2018 @polkadot/apps authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.apps--SideBar {
  background: #fcfcfc;
  border-right: 1px solid rgba(34, 36, 38, 0.15);
  flex-shrink: 0;
  min-width: 10em;
  padding: 0.75em 0 0 0.75em;
  position: relative;
  text-align: left;
}

.apps--SideBar .ui.vertical.menu {
  margin: 0;
  width: auto;
}

.apps--SideBar-github {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
}

.apps--SideBar-logo {
  width: 100%;
  margin: 0 1.5rem 0.75rem 0.75rem;
  width: 10rem;
}

.apps--SideBar-Item {
  overflow-x: visible;
  padding: 0 !important;
  text-align: left;
}

.apps--SideBar-Item-NavLink {
  color: #4E4E4E;
  display: block;
  padding: 0.75em 0.75em;
  white-space: nowrap;
}

.apps--SideBar-Item-NavLink-active {
  background: white;
  border-radius: 0.28571429rem 0 0 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-right-color: white;
  color: #D75EA1;
  margin-right: -1px;
  /* color: inherit; */
}

.apps--SideBar-Item-NavLink:hover {
  color: #D75EA1;
}
