/* Copyright 2017-2019 @polkadot/apps authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

@import '../../../ui-app/src/styles/theme/_colors-polkadot.css';
@import '../../../ui-app/src/styles/theme/_colors-substrate.css';

.apps--SideBar {
  background: #4e4e4e;
  flex-shrink: 0;
  padding: 0.75em 0 0 0.75em;
  position: relative;
  text-align: left;

  &.collapsed {
    min-width: 3rem;
  }

  &.expanded {
    min-width: 10em;
  }

  .ui.vertical.menu {
    margin: 0;
    width: auto;
  }

  .apps--SideBar-Item {
    overflow-x: visible;
    padding: 0 !important;
    text-align: left;

    .text {
      padding-left: 0.5rem;
    }
  }

  .apps--SideBar-logo {
    width: 100%;
    margin: 0.5rem 1.5rem 1rem 0.75rem;
    width: 9rem;
  }

  .apps--SideBar-collapse {
    bottom: 0.75em;
    position: fixed;
    left: 0.75rem;

    .ui.basic.secondary.button {
      box-shadow: 0 0 0 1px #eee inset !important;
      color: #eee !important;
      margin: 0;
    }
  }

  &.collapsed {
    .apps--SideBar-Item .text {
      display: none;
    }

    .apps--SideBar-logo {
      margin: 0.125rem 0.75rem 0.625rem 0;
      width: 3rem;
    }
  }
}

a.apps--SideBar-Item-NavLink {
  color: #eee;
  display: block;
  padding: 0.75em 0.75em;
  white-space: nowrap;
}

a.apps--SideBar-Item-NavLink-active {
  background: #fafafa;
  border-radius: 0.28571429rem 0 0 0.28571429rem;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.theme--polkadot {
  a.apps--SideBar-Item-NavLink:hover {
    color: $nav-link;
  }

  a.apps--SideBar-Item-NavLink-active {
    color: $nav-link;

    &:hover {
      color: $nav-link;
    }
  }
}
