/* Copyright 2017-2019 @polkadot/app-explorer authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

header > .explorer--BlockHeader {
  border: none;
  box-shadow: none;
}

.explorer--BlockHeader {
  animation: fadein 1s;

  .author {
    font-size: 1rem;
    text-align: right;
    vertical-align: middle;

    > .ui--AddressMini.padded {
      padding: 0;
    }
  }

  .header-outer {
    padding: 0.5rem;
    overflow: hidden;
  }

  .header-outer + details {
    margin-top: -0.5rem;
  }

  .header {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;

    > div {
      display: inline-block;
      font-weight: 100;
      vertical-align: middle;
      white-space: nowrap;
    }

    > .number {
      font-size: 2.25rem;
    }

    .hash {
      font-size: 1.5rem;
      font-family: sans-serif;
    }
  }

  .hash {
    font-family: monospace;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .number {
    align-items: center;
    box-sizing: border-box;
  }

  .contains {
    border: 0;
    text-align: center;

    > .info {
      margin-bottom: 0.125em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .ui--Labelled {
        text-align: center;
      }

      > label {
        display: inline-block;
      }
      
      > span,
      > label {
        vertical-align: middle;
      }

      label {
        margin-right: 0.5rem;
        min-width: 10rem;
        text-align: right;
      }
    }
  }
}
