/* Copyright 2017-2018 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  color: #4e4e4e;
  font-family: sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  color: rgba(0, 0, 0, .6);
  font-weight: 100;
}

h1 {
  text-transform: lowercase;
}

h3, h4, h5 {
  margin-bottom: 0.25rem;
}

/*
a:hover {
  color: #D75EA1;
}
*/

main {
  padding: 1em 2em;
  min-height: 100vh;
}

main > section {
  margin-bottom: 2em;
}

article {
  background: white;
  border: 0 solid #f2f2f2;
  border-radius: 0.25rem;
  border-top-width: 0.25rem;
  margin: 0 0.5rem;
  padding: 1rem 1.5rem;
}

header,
summary {
  margin-bottom: 2em;
  text-align: center;
}

/* header {
  background: #f5f5f5;
  margin: -1em -2em 2em;
  padding: 1em 2em 0;
} */

header+header,
header+summary,
summary+header {
  margin-top: -1em;
}

summary {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

summary article {
  color: rgba(0, 0, 0, 0.6);
  flex: 0 1 auto;
  text-align: left;
}

summary > section {
  display: flex;
  flex: 0 1 auto;
  text-align: left;
}
