/* Copyright 2017-2018 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

@import './partials/_variables.css';

.ui--output {
  background: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  line-height: 1em;
  margin-bottom: 0.5em;
  padding: 0.75em 1em;
  position: relative;
  word-wrap: break-word;
}

.ui--output .ui--output-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.ui--output.error {
  background: #fff6f6;
  border-color: #e0b4b4;
}

.ui--Button-Group .button {
  border-radius: $small-corner !important;
}

header .ui--Button-Group {
  text-align: center;
}

.ui--AddressMini {
  display: inline-block;
  padding: 0 0.25rem 0 0;
}

.ui--AddressMini.padded {
  display: inline-block;
  padding: 0.25rem 0 0 0;
}

.ui--AddressMini-info div {
  display: inline-block;
  vertical-align: middle;
}

.ui--AddressMini-address {
  font-family: monospace;
}

.ui--AddressMini .ui--IdentityIcon {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.ui--AddressMini .ui--Balance {
  font-size: 0.75rem;
  margin-top: -0.5rem;
  text-align: right;
}

.ui--AddressRow {
  display: flex;
  width: 100%;
}

.ui--AddressRow-base {
  display: flex;
}

.ui--AddressRow-icon {
  margin-right: 1em;
}

.ui--AddressSummary {
  padding: 0 1em;
  text-align: left;
  white-space: nowrap
}

.ui--AddressSummary-base {
  padding: 0 1em;
  text-align: center;
}

.ui--AddressSummary-base,
.ui--AddressSummary-children {
  display: inline-block;
  vertical-align: top;
}

.ui--AddressSummary-children {
  padding-top: 0.5rem;
}

.ui--AddressSummary .rx--updated {
  background: transparent !important;
}

.ui--AddressSummary.invalid {
  filter: grayscale(100);
  opacity: 0.45;
}

.ui--AddressSummary-icon {
  display: block
}

.ui--Balance,
.ui--AddressSummary-balance,
.ui--AddressSummary-nonce {
  opacity: 0.45;
}

.ui--AddressSummary-balance.rx--updated,
.ui--AddressSummary-nonce.rx--updated {
  opacity: 1;
}

.ui--AddressSummary-data {
  padding: 0.5em 0;
  white-space: nowrap;
}

.ui--AddressSummary-data * {
  /* margin: 0 0.25rem !important; */
  vertical-align: middle;
}

.ui--AddressSummary-address {
  display: inline-block;
  font-family: monospace;
  font-size: 1.5em;
  padding: 0;
}

.ui--CardSummary .ui.label {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.ui--Chart {
  position: relative;
  display: inline-block;
  padding: 1em 1em 0;
  height: 15vw;
  width: 15vw;
}

.ui--CardSummary-large {
  font-size: 3rem;
  font-weight: 100;
  line-height: 3rem;
  text-align: right;
}

.ui--CardSummary-progress {
  margin: 0.25rem 0 -0.5rem !important;
}

.ui--CopyButton {
  cursor: copy !important;
}

.ui--InputFile {
  align-items: center;
  border: 1px dashed rgba(34, 36, 38, 0.15);
  border-radius: $small-corner;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  height: 5em;
  margin-bottom: 0.5rem;
  width: 100% !important;

  &.error {
    background: #fff6f6;
    border-color: #e0b4b4;
  }

  &:hover {
    background: #fefefe;
    cursor: pointer;
  }

  .label {
    color: rgba(0, 0, 0, .6);
  }
}
