/* Copyright 2017-2019 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.ui--media-large,
.ui--media-medium,
.ui--media-small {
  visibility: hidden;
  width: 0;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .ui--media-large {
    visibility: visible;
    width: auto;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) {
  .ui--media-medium {
    visibility: visible;
    width: auto;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) {
  .ui--media-small {
    visibility: visible;
    width: auto;
  }
}
