/* Copyright 2017-2018 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

@import 'partials/_variables.css';

.ui.hidden.divider {
  margin: 0.5rem 0;
}

.ui.dropdown {
  /* from .ui.fluid.dropdown */
  display: block;
  min-width: 0;
  width: 100%;
}

.ui.dropdown,
.ui.input {
  /* bottom margin for all inputs */
  margin-bottom: 0.5rem;
}

.ui.dropdown > .text {
  min-height: 1em;
}

.ui.dropdown .menu > .item.header.disabled {
  margin: 1em 0 0 0;
  opacity: 1;
}

.ui.dropdown .menu > .item.header.disabled:hover,
.ui.dropdown .menu > .item.header.disabled.selected {
  background: white;
}

.ui.input {
  /* from .ui.fluid.input */
  display: flex;
}

.ui.input > input {
  /* from .ui.fluid.input > input */
  width: 0;
}

.ui.inverted.dimmer {
  background-color: rgba(255, 255, 255, 0.75);
}

.ui.label {
  background: transparent;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.ui.modal > .actions {
  background: transparent;
  border-top: none;
  text-align: right;
}

.ui.modal > .header {
  border-bottom: none;
  padding-bottom: 0;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}

.ui.progress .bar {
  min-width: 0 !important;
}

.ui.secondary.vertical.menu > .item {
  margin: 0;
}

.ui[class*="left icon"].input.left.icon > input {
  padding-left: 4rem !important;
}

.ui[class*="left icon"].input.left.icon > i.icon.big {
  left: -7px;
  opacity: 1;
}

.ui.button:disabled,
.ui.buttons .disabled.button,
.ui.disabled.active.button,
.ui.disabled.button,
.ui.disabled.button:hover {
  opacity: 0.1 !important;
}
