/* Copyright 2017-2018 @polkadot/ui-qr authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.ui--qr-Scan {
  display: inline-block;
  height: 100%;
  width: 100%;

  video {
    border: 2px solid rgb(200, 200, 200);
    margin: 1.5em auto;
  }
}
