/* Copyright 2017-2018 Jaco Greeff
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.extrinsics--Signer {}

.extrinsics--Signer-Decoded,
.extrinsics--Signer-Unlock {
  align-content: center;
  display: flex;
  line-height: 1.5em;
}

.extrinsics--Signer-Decoded {
  padding-top: 2rem;
}

.extrinsics--Signer-Unlock {
  padding-top: 1.5rem;
}

.extrinsics--Signer-Content {
  padding: 1.5rem 3rem !important;
}

.extrinsics--Signer-Content .expanded {
  padding-right: 2em;
}

.extrinsics--Signer-Content .expanded .code {
  background: #f5f5f5;
  font-family: monospace;
  margin: 0 0.25em;
  overflow-wrap: break-word;
  padding: 0.25em 0.5em;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}
