/* Copyright 2017-2019 @polkadot/app-storage authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.storage--Query {
  margin-bottom: 0.25em;
}

.storage--Query .ui.disabled.dropdown.selection {
  color: #aaa;
  opacity: 1;
}

.storage--Query .ui--IdentityIcon {
  margin: -10px 0;
  vertical-align: middle;
}

.storage--actionrow {
  align-items: center;
  display: flex;

  .button {
    margin: 0.25rem;
  }

  &.head {
    flex: 1 1 100%;
    margin: 0 auto;
    max-width: 620px;
  }
}

.storage--actionrow-value {
  flex: 1;
  min-width: 0;

  .ui--output {
    word-break: break-all;
  }
}

.storage--actionrow-buttons {
  flex: 0;
  padding: 0 0.25rem;
}
