/* Copyright 2017-2019 @polkadot/app-storage authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.storage--Query {
  margin-bottom: 0.25em;
  padding: 0.25em 0;
}

.storage--Query .ui.disabled.dropdown.selection {
  color: #aaa;
  opacity: 1;
}

/* .storage--Query span+span {
  margin-left: 0.5em;
} */

.storage--Query .storage--actionrow-value {
  padding: 0 0.25rem;
}

.storage--Query .ui--IdentityIcon {
  margin: -10px 0;
  vertical-align: middle;
}

.storage--actionrow {
  display: flex;
}

.storage--actionrow-value {
  flex: 1;
  min-width: 0;

  .ui--output {
    word-break: break-all;
  }
}

.storage--actionrow-buttons {
  flex: 0;
  padding: 0 0.25rem;
}

.storage--Queries .storage--actionrow-buttons {
  flex: 0;
  padding: 0 0.25rem;

  .container {
    display: block;
    white-space: nowrap;
  }

  .ui.label {
    font-size: 1rem;
    line-height: 1.714rem;
  }
}
