/* Copyright 2017-2018 @polkadot/app-addresses authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.forgetting-Address {
  text-align: center;
}
