/* Copyright 2017-2018 Jaco Greeff
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.addresses--App {
  padding: 1em 2em;
}

.addresses--App-navigation {
  margin-bottom: 2em;
  text-align: center;
}
