/* Copyright 2017-2018 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

$green: #36c6d3;
$orange: #f36a5a;
$red: #ed6b75;

$pewter-blue: #26a1ab;
$dark-sky-blue: #32c5d2;

$silver-chalice: #acb5c3;
$cadet-grey: #8e9bae;

$wild-orchid: #d75ea1;
$middle-purple: #e189ba;

$light-slate-gray: #718d94;

$moonstone-blue: #64bebe;
$verdigris: #5badad;

$button-primary-color: $dark-sky-blue;
$button-primary-color-hover: $pewter-blue;
$button-color: $silver-chalice;
$button-color-hover: $cadet-grey;
$button-positive-color: $moonstone-blue;
$button-positive-color-hover: $verdigris;
$button-negative-color: $wild-orchid;
$button-negative-color-hover: $middle-purple;
$anchor-color: $light-slate-gray;
$anchor-color-hover: $cadet-grey;
$progress-bar-color: $dark-sky-blue;
$nav-link: $wild-orchid;
