/* Copyright 2017-2018 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

@import './_colors-polkadot.css';

.theme--polkadot {
  .ui.primary.button,
  .ui.buttons .primary.button,
  .ui.primary.button:active,
  .ui.buttons .primary.button:active,
  .ui.primary.button:focus,
  .ui.buttons .primary.button:focus {
    background-color: $button-primary-color;
  }


  .ui.primary.button:hover,
  .ui.buttons .primary.button:hover {
    background-color: $button-primary-color-hover;
  }

  .ui.button,
  .ui.buttons .button,
  .ui.button:active,
  .ui.buttons .button:active,
  .ui.button:focus,
  .ui.buttons .button:focus{
    background-color: $button-color;
    color: white;
  }

  .ui.positive.button,
  .ui.buttons .positive.button,
  .ui.positive.button:active,
  .ui.buttons .positive.button:active,
  .ui.positive.button:focus,
  .ui.buttons .positive.button:focus {
    background-color: $button-positive-color;
    color: white;
  }
  .ui.positive.button:hover,
  .ui.buttons .positive.button:hover {
    background-color: $button-positive-color-hover;
    color: white;
  }

  .ui.button:hover,
  .ui.buttons .button:hover {
    background-color: $button-color-hover;
    color: white;
  }

  .ui.negative.button,
  .ui.buttons .negative.button,
  .ui.negative.button:focus,
  .ui.buttons .negative.button:focus,
  .ui.negative.button:active,
  .ui.buttons .negative.button:active {
    background-color: $button-negative-color;
  }

  .ui.negative.button:hover,
  .ui.buttons .negative.button:hover {
    background-color: $button-negative-color-hover;
  }

  .ui.blue.progress .bar {
    background-color: $progress-bar-color;
  }

  a {
    color: $anchor-color;
  }

  a:hover {
    color: $anchor-color-hover;
  }

  .ui.green.progress .bar {
    background-color: $green;
  }

  .ui.orange.progress .bar {
    background-color: $orange;
  }

  .ui.red.progress .bar {
    background-color: $red;
  }
}
