/* Copyright 2017-2019 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

@import './_colors-polkadot.css';

.theme--polkadot {
  .ui.primary.button,
  .ui.buttons .primary.button,
  .ui.primary.button:active,
  .ui.buttons .primary.button:active,
  .ui.primary.button:focus,
  .ui.buttons .primary.button:focus {
    background-color: $button-primary-color;
  }

  .ui.primary.button:hover,
  .ui.buttons .primary.button:hover {
    background-color: $button-primary-color-hover;
  }

  .ui.button,
  .ui.buttons .button,
  .ui.button:active,
  .ui.buttons .button:active,
  .ui.button:focus,
  .ui.buttons .button:focus{
    background-color: $button-color;
    color: white;
  }

  .ui.positive.button,
  .ui.buttons .positive.button,
  .ui.positive.button:active,
  .ui.buttons .positive.button:active,
  .ui.positive.button:focus,
  .ui.buttons .positive.button:focus {
    background-color: $button-positive-color;
    color: white;
  }
  .ui.positive.button:hover,
  .ui.buttons .positive.button:hover {
    background-color: $button-positive-color-hover;
    color: white;
  }

  .ui.button:hover,
  .ui.buttons .button:hover {
    background-color: $button-color-hover;
    color: white;
  }

  .ui.negative.button,
  .ui.buttons .negative.button,
  .ui.negative.button:focus,
  .ui.buttons .negative.button:focus,
  .ui.negative.button:active,
  .ui.buttons .negative.button:active {
    background-color: $button-negative-color;
  }

  .ui.negative.button:hover,
  .ui.buttons .negative.button:hover {
    background-color: $button-negative-color-hover;
  }

  .ui.blue.progress .bar {
    background-color: $progress-bar-color;
  }

  .ui--IdentityIcon .container.highlight:before {
    box-shadow: 0 0 5px 2px $wild-orchid;
  }

  a {
    color: $anchor-color;
  }

  a:hover {
    color: $anchor-color-hover;
  }

  .ui.green.progress .bar {
    background-color: $green;
  }

  .ui.orange.progress .bar {
    background-color: $orange;
  }

  .ui.red.progress .bar {
    background-color: $red;
  }

  .apps-SideBar-Wrapper {
    > img {
      background: none !important;
      padding: 0 !important;
    }
  }

  a.apps--SideBar-Item-NavLink:hover {
    color: $nav-link;
    transition: 0.15s;

    &:hover {
      background: rgba(0,0,0,0.05);
    }
  }

  a.apps--SideBar-Item-NavLink-active {
    color: $nav-link;
    &:hover {
      color: $nav-link;
    }
  }

  .ui.menu.tabular .item.active {
    border-bottom: 2px solid rgba(215, 94, 161, 1);
  }
}
