/* Copyright 2017-2019 @polkadot/app-democracy authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.democracy--Item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.democracy--Item-header-info,
.democracy--Item-header-id {
  flex: 1;
}

.democracy--Item-header-id {
  font-size: 2rem;
  line-height: 2rem;
  text-align: right;
}

.democracy--Item-header-description {
  color: rgba(0, 0, 0, 0.6);
}

.democracy--Item-body {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.democracy--Item-extrinsic,
.democracy--Item-children {
  flex: 1;
  width: 0;
  padding: 0 1em;
  text-align: left;
}

.democracy--Item-extrinsic .ui--Params-Content {
  padding-left: 0;
}

.democracy--Extrinsic .ui--Labelled {
  margin-bottom: 0.25rem;
}

.democracy--Extrinsic .ui--Labelled .ui.label {
  display: block;
  padding-left: 0;
}

.democracy--Proposal-info,
.democracy--Referendum-info {
  margin-bottom: 0;
}

.democracy--Referendum-results {
  margin-bottom: 1em;
}

.democracy--Referendum-results.chart {
  text-align: center;
}
