/* Copyright 2017-2019 @polkadot/app-democracy authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.democracy--Account {
  position: relative;
  flex: 1 1;
  min-width: 48%;

  .ui--AddressMini {
    display: block;
  }
}

.democracy--Account-expand {
  min-width: 18rem;
  text-align: right;
}

.democracy--Account-detail {
  margin-top: 0.75rem;
  .democracy--label {
    margin: 0 2.25rem -0.5rem 0;
  }
}

.democracy--Item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.democracy--Item-header-info,
.democracy--Item-header-id {
  flex: 1;
}

.democracy--Item-header-id {
  font-size: 2rem;
  line-height: 2rem;
  text-align: right;
}

.democracy--Item-header-description {
  color: rgba(0, 0, 0, 0.6);
}

.democracy--Item-body {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.democracy--Item-extrinsic,
.democracy--Item-children {
  flex: 1;
  width: 0;
  padding: 0 1em;
  text-align: left;
}

.democracy--Item-extrinsic .ui--Params-Content {
  padding-left: 0;
}

.democracy--Extrinsic .ui--Labelled {
  margin-bottom: 0.25rem;
}

.democracy--Extrinsic .ui--Labelled .ui.label {
  display: block;
  padding-left: 0;
}

.democracy--Proposal-info,
.democracy--Referendum-info {
  margin-bottom: 0;
}

.democracy--Proposal-new {
  float: right;
}

.democracy--Referendum-results {
  margin-bottom: 1em;
}

.democracy--Referendum-results.chart {
  text-align: center;
}

@media (min-width: 1281px) {
  .ui--AddressSummary {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .ui--AddressSummary-base, .ui--AddressSummary-children {
      min-width: 0;
    }
  }
}

@media (max-width: 1280px) {
  .democracy--Account {
    min-width: 31%;

    .ui--AddressMini {
      display: block;
    }

    .ui--AddressSummary {
      display: block;

      .ui--AddressSummary-base, .ui--AddressSummary-children {
        min-width: 0;
        display: block;
      }

      .ui--AddressSummary-base {
        min-height: 16rem;
      }

      .ui--AddressSummary-children {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .democracy--Account-expand {
    min-width: auto;
  }
}

@media (max-width: 1020px) {
  .democracy--Account {
    min-width: 48%;
  }
}

@media (max-width: 860px) {
  .democracy--Account {
    min-width: 48%;
  }
}

@media (max-width: 620px) {
  .democracy--Account {
    min-width: 100%;
  }
}
