/* Copyright 2017-2019 @polkadot/app-staking authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.validator--Account-info-address {
  flex: 3;
  margin: 0px 5px 0px 5px;
}

.validator--Account-info-details {
  flex: 1;
  margin: 0px 5px 0px 5px;
}

.validator--row {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.5em;
}

.validator--Account-address {
  font-family: monospace;
  font-size: 1.5rem;
}

.validator--Account-icon {
  margin-right: 1rem;
}

.validator--Account-validating {
  opacity: 0.25 !important;
  padding-top: 0.5em;
  vertical-align: top !important;
}

.validator--Account-validating.isValidator {
  color: red;
  opacity: 1 !important;
}

.validator--Account-details,.column{
  flex: 1;
  border: 1px, solid blue;
}

.validator--Account-balance,
.validator--Account-nonce {
  opacity: 0.45;
  text-align: right;
}

.validator--ValidatorsList {
  article {
    position: relative;

    details {
      summary {
        cursor: pointer;
        outline: none;
      }

      summary + div {
        margin-top: 0;
      }
    }

    .blockNumber {
      font-size: 1.5rem;
      font-weight: 100;
      height: 0;
      line-height: 1.5rem;
      right: 1.5rem;
      opacity: 0;
      position: absolute;
      top: 1rem;
      transform: scale(0);
      transition: all 0.25s ease-in;
      vertical-align: middle;

      &.latest {
        height: auto;
        opacity: 1;
        transform: scale(1);
      }
    }

    .recentlyOffline {
      position: absolute;
      font-size: 12px;
      cursor: help;
      display: flex;
      justify-content: center;
      right: 12px;
      top: 88px;
      width: 22px;
      height: 22px;
      padding: 0;
      background: red;
      color: #eee;
      border-radius: 16px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      transition: all ease .2s;

      & > * {
        line-height: 22px;
        overflow: hidden;
        transition: all ease 0.25;
      }

      .badge {
        font-weight: bold;
        width: auto;
      }

      .detail {
        width: 0;
      }

      &.expand {
        width: 300px;

        .badge {
          width: 0;
        }

        .detail {
          width: auto;
        }
      }
    }
  }
}

.validator--current,
.validator--next {
  margin: 1em;
  flex: 1;

  .ui--AddressRow + .ui--AddressRow {
    margin-top: 1em;
  }
}

.validator--Account-address.isMine {
  color: #47b547;
  font-weight: 500;
  opacity: 1 !important;
}

.validator-icon {
  color: #2284d0;
  position: absolute;
  font-size: 1.5em !important;
}

.nominator-icon {
  color: #aaa;
  position: absolute;
  font-size: 1.5em !important;
}
