.Icon {
    fill: currentColor;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    display: inline-block;
}

.Icon svg {
    width: auto;
    height: 1em;
}
