/* Copyright 2017-2018 Jaco Greeff
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.ui--KeyPair {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  white-space: nowrap;
}

.ui--KeyPair-icon {
  position: absolute;
  top: -9px;
  left: 0;
}

.ui--KeyPair-address,
.ui--KeyPair-name {
  display: inline-block;
}

.ui--KeyPair-address {
  flex: 1;
  font-family: monospace;
  margin-left: 1rem;
  opacity: 0.5;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
}

.ui--KeyPair-name {
  flex: 1 0;
  margin-left: 3rem;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
}
