.JoyMemo--full {
  img {
    max-width: 100%;
  }
  code {
    background-color: #e0e0e0;
    padding: 0 .25rem;
    border-radius: 2px;
  }
}

.JoyMemo--preview {
  margin-right: .5rem;
}

.JoyMemo--empty {
  color: #999;
}