/* Copyright 2017-2018 Jaco Greeff
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.ui--DropdownLinked {}

.ui--DropdownLinked-Items {}

.ui--DropdownLinked-Items .text {
  box-sizing: border-box;
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.ui--DropdownLinked-Item > .text {
  padding-left: 1em;
}

.ui--DropdownLinked-Item-text,
.ui--DropdownLinked-Item-call {
  display: inline-block;
}

.ui--DropdownLinked-Item-call {
  flex: 1 0;
  margin-right: 1rem;
  text-align: left;
  text-overflow: ellipsis;
}

.ui--DropdownLinked-Item-text {
  flex: 1;
  opacity: 0.5;
  text-align: right;
  text-overflow: ellipsis;
}

.ui--DropdownLinked-Sections {}
