/* Copyright 2017-2019 @polkadot/app-staking authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.staking--App .rx--updated {
  background: transparent !important;
}

.staking--App-navigation.ui--Button-Group {
  margin-bottom: 2em;
  text-align: center;
}

.staking--Account {
  position: relative;
  flex: 1 1;
  min-width: 48%;

  .ui--AddressMini {
    display: block;
  }
}

.ui--Nominators {
  overflow-y: overlay;
  max-height: 196px;
  padding-right: 18px;
}

.staking--Account-expand {
  min-width: 18rem;
  text-align: right;
}

.staking--Account-links {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.staking--Account-details {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.staking--Account-nominate {
  padding: 0 0 3em 3em;
}

.staking--Account-nominating {
  margin-top: 1rem;
}

.staking--Account-nominating * {
  vertical-align: middle;
}

.staking--Account-nominating .ui--IdentityIcon {
  margin-right: 0.25rem;
}

.staking--Account-info {
  display: inline-block;
}

.staking--Account-address {
  font-family: monospace;
  font-size: 1.5rem;
}

.staking--Account-icon {
  margin-right: 1rem;
}

.staking--Account-validating {
  opacity: 0.25 !important;
  position: absolute;
  top: 1em;
  left: 1em;
}

.staking--Account-validating.isValidator {
  color: #d75ea1;
  opacity: 1 !important;
}

.staking--Account-balance,
.staking--Account-nonce {
  opacity: 0.45;
  text-align: right;
}

.staking--Summary-text {
  text-align: right;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2rem;
}

.staking--Account-detail {
  margin-top: 0.75rem;
}

.staking--accounts-info {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  text-align: right;
}

.staking--Account-detail,
.staking--accounts-info {
  .staking--label {
    margin: 0 2.25rem -0.5rem 0;
  }
}

@media (min-width: 1281px) {
  .ui--AddressSummary {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .ui--AddressSummary-base, .ui--AddressSummary-children {
      min-width: 0;
    }
  }
}

@media (max-width: 1280px) {
  .staking--Account {
    min-width: 31%;

    .ui--AddressMini {
      display: block;
    }

    .ui--AddressSummary {
      display: block;

      .ui--AddressSummary-base, .ui--AddressSummary-children {
        min-width: 0;
        display: block;
      }

      .ui--AddressSummary-base {
        min-height: 16rem;
      }

      .ui--AddressSummary-children {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .staking--Account-expand {
    min-width: auto;
  }

  .staking--Account-links {
    max-width: 12rem;
  }
}

@media (max-width: 1020px) {
  .staking--Account {
    min-width: 48%;
  }
}

@media (max-width: 860px) {
  .staking--Account {
    min-width: 48%;
  }
}

@media (max-width: 620px) {
  .staking--Account {
    min-width: 100%;
  }
}
