/* Copyright 2017-2018 @polkadot/app-staking authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.staking--App {
  padding: 1em 2rem;
}

.staking--App-navigation.ui--Button-Group {
  margin-bottom: 2em;
  text-align: center;
}
