/* Copyright 2017-2018 @polkadot/app-staking authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.staking--App {
  padding: 1em 2rem;
}

.staking--Summary {
  margin-bottom: 2rem;
  text-align: right;
}

.staking--Account {
  background: #f9f9f9;
  border-radius: 0.25rem;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
}

.staking--Account .ui--Button-Group {
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
}

.staking--Account .ui--Button-Group {
  text-align: left;
}

.staking--Account-buttons,
.staking--Account-details {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.staking--Account-nominate {
  padding: 0 0 3em 3em;
}

.staking--Account-nominating {
  margin-top: 1rem;
}

.staking--Account-nominating * {
  vertical-align: middle;
}

.staking--Account-nominating .ui--IdentityIcon {
  margin-right: 0.25rem;
}

.staking--Account-info {
  display: inline-block;
}

.staking--Account-address {
  font-family: monospace;
  font-size: 1.5rem;
}

.staking--Account-icon {
  margin-right: 1rem;
}

.staking--Account-validating {
  opacity: 0.25 !important;
  padding-top: 8px;
  vertical-align: top !important;
}

.staking--Account-validating.isValidator {
  color: red;
  opacity: 1 !important;
}

.staking--Account-balance,
.staking--Account-nonce {
  opacity: 0.45;
  text-align: right;
}
