/* Copyright 2017-2019 @polkadot/app-staking authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.staking--Account-links {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.staking--Account-detail {
  text-align: right;

  .staking--label {
    margin: 0 1.75rem -0.75rem 0;
  }
}

.staking--Address-info {
  /* Small additional margin to take care of validator highlights */
  margin-right: 0.25rem;
  text-align: right;

  .staking--label {
    margin: 0 2.25rem -0.75rem 0;
  }
}
