/* Copyright 2017-2019 @polkadot/app-staking authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.staking--App .rx--updated {
  background: transparent !important;
}

.staking--App-navigation.ui--Button-Group {
  margin-bottom: 2em;
  text-align: center;
}

.staking--Account {
  position: relative;
  flex: 1 1;

  .ui--AddressMini {
    display: block;
  }

  .ui--AddressSummary {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .ui--AddressSummary-base, .ui--AddressSummary-children {
      min-width: 0;
    }
  }
}

.ui--Nominators {
  overflow-y: overlay;
  max-height: 196px;
  padding-right: 18px;
}

.staking--Account-expand {
  min-width: 18rem;
  text-align: right;
}

.staking--Account-details {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.staking--Account-nominate {
  padding: 0 0 3em 3em;
}

.staking--Account-nominating {
  margin-top: 1rem;
}

.staking--Account-nominating * {
  vertical-align: middle;
}

.staking--Account-nominating .ui--IdentityIcon {
  margin-right: 0.25rem;
}

.staking--Account-info {
  display: inline-block;
}

.staking--Account-address {
  font-family: monospace;
  font-size: 1.5rem;
}

.staking--Account-icon {
  margin-right: 1rem;
}

.staking--Account-validating {
  opacity: 0.25 !important;
  position: absolute;
  top: 1em;
  left: 1em;
}

.staking--Account-validating.isValidator {
  color: #d75ea1;
  opacity: 1 !important;
}

.staking--Account-balance,
.staking--Account-nonce {
  opacity: 0.45;
  text-align: right;
}

.staking--Summary-text {
  text-align: right;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2rem;
}

.staking--Account-detail {
  margin-top: 0.75rem;

  .staking--label {
    margin: 0 0 -0.5rem 0;
  }
}

.staking--StakeList {
  display: flex;
  flex-wrap: wrap;

  .spacer {
    flex: 1 1;
    margin: .25rem;
    padding: 1rem 1.5rem;
  }
}

.staking--accounts-info {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: right;

  .staking--label {
    margin: 0 0 -0.5rem 0;
  }
}

.staking--Account-recentlyOffline {
  position: absolute;
  bottom: 0.75rem;
  font-size: 12px;
  cursor: help;
  display: flex;
  justify-content: center;
  right: 0.75rem;
  width: 22px;
  height: 22px;
  padding: 0;
  background: red;
  color: #eee;
  border-radius: 16px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: all ease .2s;

  & > * {
    line-height: 22px;
    overflow: hidden;
    transition: all ease 0.25;
  }

  .badge {
    font-weight: bold;
    width: auto;
  }

  .detail {
    width: 0;
  }

  &.expand {
    width: 300px;

    .badge {
      width: 0;
    }

    .detail {
      width: auto;
    }
  }
}
