/* Copyright 2017-2019 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.ui--Button-Group {
  text-align: right;
}

.ui--Button-Group:not(:first-child) {
  margin-top: 0.75rem;
}
