$small-corner: .28571429rem;

$green: #77c689;
$orange: #f6a46e;
$red: #e97f7f;

$pewter-blue: #89acb4;
$dark-sky-blue: #96bdc6;

$silver-chalice: #a1b1b5;
$cadet-grey: #98aaae;

$wild-orchid: #d75ea1;
$middle-purple: #e189ba;

$spanish-gray: #8b9b9f;
