/* Copyright 2017-2018 @polkadot/app-vanitygen authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.vanity--App-matches {
  padding: 1em 0;
}

.vanity--App-stats {
  padding: 1em 0 0 0;
  opacity: 0.45;
  text-align: center;
}

.vanity--Match {
  text-align: center;
}

.vanity--Match:hover {
  background: #f9f9f9;
}

.vanity--Match-item {
  display: inline-block;
  font-family: monospace;
  margin: 0 auto;
  padding: 0.5em;
  position: relative;
}

.vanity--Match-icon,
.vanity--Match-data,
.vanity--Match-buttons {
  display: inline-block;
  vertical-align: middle;
}

.vanity--Match-addr,
.vanity--Match-seed {
  padding: 0 1rem;
}

.vanity--Match-addr {
  font-size: 1.5rem;
}

.vanity--Match-addr .no {
}

.vanity--Match-addr .yes {
  color: red;
}

.vanity--Match-seed {
  opacity: 0.45;
}
