/* Copyright 2017-2019 @polkadot/apps authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.apps--App {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;

  .apps--Content,
  .apps--SideBar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .apps--Content {
    background: #fafafa /* #fff */;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.apps--NodeInfo {
  background: transparent;
  color: white;
  font-size: 0.75rem;
  opacity: 0.5;
  padding: 0 1.5rem 0 0;
  text-align: right;

  > div {
    margin-bottom: -0.125em;
  }

  div.rx--updated {
    background: inherit !important;
  }
}

.apps--NodeInfo-inline > div {
  display: inline-block;
}
