/* Copyright 2017-2018 @polkadot/apps authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.apps--App {
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.apps--App .apps--Content,
.apps--App .apps--SideBar, {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.apps--NodeInfo {
  background: transparent;
  font-size: 0.75rem;
  padding: 0 1.5rem 0 0;
  opacity: 0.5;
  text-align: right;
}

.apps--NodeInfo > div {
  margin-bottom: -0.125em;
}

.apps--NodeInfo-inline > div {
  display: inline-block;
}

.apps--NodeInfo div.rx--updated {
  background: inherit !important;
}
