/* Copyright 2017-2019 @polkadot/react-signer authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.ui--signer-Signer-Content {
  .modal-Text {
    margin-bottom: 1em;
    padding: 1em;
  }

  .expanded h3 {
    margin-bottom: 0.75rem;
  }

  .code {
    background: #f5f5f5;
    font-family: monospace;
    margin: 0 0.25em;
    overflow-wrap: break-word;
    padding: 0.25em 0.5em;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
  }

  .hl {
    font-weight: 700;
  }
}
