/* Copyright 2017-2018 @polkadot/app-example authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.example--App {
  padding: 1em 2em;
}

.example--App .navigation {
  margin-bottom: 1em;
}

.example--App a {
  cursor: pointer;
  margin-right: 0.5em;
}

.example--App td {
  padding: 0.125em 0.5em;
}
