/* Copyright 2017-2018 Jaco Greeff
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.extrinsics--App {
  padding: 1em;
}

.extrinsics--Status {
  background: #bcdaf0;
  display: inline-block;
  padding: 0.5rem 1rem;
  position: fixed;
  bottom: 0.125rem;
  right: 0.125rem;
  text-align: center;
  z-index: 1001;
}

.extrinsics--Status .status {
  font-weight: 700;
}

.extrinsics--Status.error {
  background: red;
  color: white;
}
