/* Copyright 2017-2018 @polkadot/ui-identicon authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.ui--IdentityIcon {
  cursor: copy;
  display: inline-block;
  line-height: 0;

  .container {
    position: relative;

    > div,
    > svg {
      position: relative;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      box-shadow: 0 0 5px 2px #e0e0e0;
      content: '';
    }
  }

  &.highlight > div:before {
    box-shadow: 0 0 5px 2px red;
  }
}
