/* Copyright 2017-2019 @polkadot/app-toolbox authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.toolbox--App-navigation.ui--Button-Group {
  margin-bottom: 2em;
  text-align: center;
}

.toolbox--hex .ui--output {
  font-family: monospace;
}

.toolbox--Unlock-Content {
  align-content: center;
  display: flex;
  line-height: 1.5em;
}

.toolbox--Unlock-Content .expanded {
  padding-right: 2em;
}

.toolbox--Unlock-Content .expanded .code {
  background: #f5f5f5;
  font-family: monospace;
  margin: 0 0.25em;
  overflow-wrap: break-word;
  padding: 0.25em 0.5em;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

.toolbox--Unlock-Entry {
  padding-top: 1.5rem;
}
