/* Copyright 2017-2019 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.ui--InputAddress {}

.ui--InputAddress .ui.dropdown .text {
  width: 100%;
}

.ui--InputAddress .ui.search.selection.dropdown > input.search {
  padding-left: 4rem;
}

.flag--hideAddress .ui--KeyPair .ui--KeyPair-address {
  flex: 0;
  max-width: 0;
}
