/* Copyright 2017-2018 @polkadot/app-accounts authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.accounts--App {
  padding: 1em 2em;
}

.accounts--App-navigation.ui--Button-Group {
  margin-bottom: 2em;
  text-align: center;
}

.accounts--Address {
  padding: 0 2em;
  text-align: center;
}

.accounts--Address .rx--updated {
  background: transparent !important;
}

.accounts--Address.invalid {
  filter: grayscale(100);
  opacity: 0.45;
}

.accounts--Address-icon {
  display: block
}

.accounts--Address-balance,
.accounts--Address-nonce {
  opacity: 0.45;
}

.accounts--Address-balance.rx--updated,
.accounts--Address-nonce.rx--updated {
  opacity: 1;
}

.accounts--Address-data {
  padding: 0.5em 0;
}

.accounts--Address-data * {
  margin: 0 0.25rem !important;
  vertical-align: middle;
}

.accounts--Address-address {
  display: inline-block;
  font-family: monospace;
  font-size: 1.5em;
  padding: 0;
}
