/* Copyright 2017-2019 @polkadot/app-accounts authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

@import '../../ui-app/src/styles/partials/_variables.css';

.app--accounts-Modal .ui--AddressSummary {
  display: inline-block;
  margin-bottom: 1rem;
}

.accounts--Creator-advanced {
  margin-top: 1rem;
}
