/* Copyright 2017-2018 @polkadot/app-accounts authors & contributors
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.accounts--ChangePassword-Modal-Content-wrapper .ui--Notifications {
	margin-top: 0.5em;
}

.accounts--ChangePassword-Modal-Content {
  text-align: center;
  padding-bottom: 0.5em;
}

.accounts--ChangePassword-Modal-Content > .ui--AddressMini,
.accounts--ChangePassword-Modal-Content > .ui--AddressSummary {
	display: none;
}

.accounts--ChangePassword-Modal-Content .ui--row > .ui--Password {
	flex: 0 1 100%;
}

.accounts--ChangePassword-Modal-Content-message {
  padding-top: 1.0em;
}

@media (min-width: 1024px) {
	.accounts--ChangePassword-Modal-Content > .ui--AddressSummary {
		display: block;
	}
}

@media (max-width: 1023px) {
	.accounts--ChangePassword-Modal-Content > .ui--AddressMini {
		display: block;
	}
}
