/* Copyright 2017-2018 Jaco Greeff
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.extrinsics--CallSelect {}

.extrinsics--CallSelect-indent > span.text {
  padding-left: 1.25em;
}
