/* Copyright 2017-2018 Jaco Greeff
/* This software may be modified and distributed under the terms
/* of the ISC license. See the LICENSE file for details. */

.ui--InputyAddress-PairDisplay {
  position: relative;
  white-space: nowrap;
}

.ui--InputyAddress-PairDisplay-icon {
  position: absolute;
  top: -9px;
  left: 0;
}

.ui--InputyAddress-PairDisplay-address,
.ui--InputyAddress-PairDisplay-name {
  display: inline-block;
}

.ui--InputyAddress-PairDisplay-address {
  font-family: monospace;
  margin-left: 1rem;
  opacity: 0.5;
  position: absolute;
  right: 0;
}

.ui--InputyAddress-PairDisplay-name {
  margin-left: 3rem;
  text-transform: uppercase;
}
