/* Copyright 2017-2019 @polkadot/app-settings authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.sub-label {
  cursor: pointer;
  padding: 0rem .5833rem;
  text-align: right;
}
