name: bot

on:
  pull_request:
    types: [labeled]

jobs:
  approve:
    if: "! startsWith(github.event.head_commit.message, '[CI Skip]') && (!github.event.pull_request || github.event.pull_request.head.repo.full_name == github.repository)"
    runs-on: ubuntu-latest
    steps:
      - uses: jacogr/action-approve@795afd1dd096a2071d7ec98740661af4e853b7da
        with:
          authors: jacogr, TarikGul
          labels: -auto
          token: ${{ secrets.GH_PAT_BOT }}
