name: PR

on:
  pull_request:
    types: [labeled]

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: jacogr/action-merge@master
        with:
          checks: build:code,build:i18n,build:electron,lint,test
          labels: automerge
          strategy: squash
          token: ${{ secrets.GH_PAT_BOT }}
