/* Copyright 2017-2018 @polkadot/ui-signer authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

@import '../../ui-app/src/styles/partials/_variables.css';

.ui--signer-Signer-Decoded,
.ui--signer-Signer-Unlock {
  align-content: center;
  display: flex;
  line-height: 1.5em;
}

.ui--signer-Signer-Unlock {
  padding-top: 1.5rem;
}

.ui--signer-Signer-Content .expanded {
  padding-right: 2em;

  .code {
    background: #f5f5f5;
    font-family: monospace;
    margin: 0 0.25em;
    overflow-wrap: break-word;
    padding: 0.25em 0.5em;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
  }
}

.ui--signer-Status {
  display: inline-block;
  position: fixed;
  right: 0.25rem;
  top: 0.125rem;
  z-index: 1001;
}

.ui--signer-Status-Item {
  align-items: center;
  background: #00688b;
  border-radius: $small-corner;
  color: white;
  display: flex;
  margin: 0.125rem;
  padding: 0 0.5rem;
  text-align: center;
  opacity: 0.9;
  vertical-align: middle;

  .desc {
    padding: 0.5rem 1rem;

    .status {
      font-weight: 700;
    }
  }

  .short {
    font-size: 2.5rem;
    padding: 0.5rem;

    i.icon {
      line-height: 1;
    }
  }

  &.cancelled {
    background: #cd9b1d
  }

  &.completed,
  &.finalised {
    background: green;
  }

  &.dropped,
  &.error,
  &.usurped {
    background: red;
  }
}
